<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/help.css') }}">
</head>

<body style="background-color: whitesmoke; height: 100%; width: 100%; width: 60%; margin-left: 5%;">
    <br>
    <br>
    <h2>Hvordan virker hjemmesiden?</h2>
    <p>Hjemmesiden er bygget op omkring en maskinelæringsmodel, der er trænet på professionelt diagnostiserede billeder af modermærkekræft. Grundet dette kan der opstå situationer hvor modellen ikke har været i en situation med alle forskellige former for modermærkekræft. Derfor er svaret fra vores model, kun vejledende. Hvis man er i tvivl bør læge opsøges hurtigst muligt. Du kan finde din personlige praktiserende læge ved at klikke på knappen til højre, eller klikke <a href="https://www.sundhed.dk/borger/min-side/min-sundhedsjournal/min-laege/" target=”_blank” style="text-decoration: underline;">her</a></p>
    <br>
    <h2>Hvad er modermærkekræft?</h2>
    <p>Modermærkekræft, også kendt som malignt melanom, er en type kræft, der udvikler sig fra pigmentceller kendt som melanocytter. Disse celler er ansvarlige for produktionen af melanin, det pigment, der giver huden sin farve. Modermærkekræft udvikler sig typisk i huden, men det kan også forekomme i andre steder, hvor melanocytter findes, såsom i øjet eller i slimhinderne.</p>
    <br>
    <h2>Hvordan kan man se at det er kræft?</h2>
    <p>Det starter ofte som en ændring i et eksisterende modermærke eller en ny vækst på huden. Disse ændringer kan omfatte ændringer i farve, størrelse eller form, samt kløe, blødning eller skorpedannelse. Tidlig opdagelse og behandling er afgørende for at forbedre prognosen for modermærkekræft, da det kan sprede sig til andre dele af kroppen og blive livstruende, hvis det ikke behandles i tide.</p>


</body>
</html>