<!DOCTYPE html>
<html>
    <!-- Setting up basic information of site -->
    <head>
        <title>HOMEPAGGGEE</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <script>
        function changeIframeSrc(url) {
            document.getElementById('frame').src = url;
        }
        
        function logOut() {
            // Clear the session storage
            sessionStorage.removeItem('name');

            // Reload the page
            location.reload();
        } 
    </script>
    

    <body>
        <div class="resize_window">
            <h1>Ændre venligst vinduets brede eller højde til at passe siden</h1>
        </div>

        <div class="main_page_left">
            <div class="site_top">
                <img src="/static/IMG/logo.png" alt="">
                <h1>Patientforeningen Modermærkekræft</h1>
            </div>
            <div class="site_content">
                <iframe id="frame" src="{{ url_for('upload') }}" frameborder="0"></iframe>
            </div>
        </div>

        <div class="main_page_right">

            <div class="name_badge">
                <h2>Logget ind som:</h2>
                <h1> {{ session.name }} </h1>
            </div>

            <div class="last_result">
                <h1>Rask</h1>
                <img src="/static/IMG/result.jpg" alt="">
            </div>

            <div class="buttons">
                <a href="https://www.sundhed.dk/borger/min-side/min-sundhedsjournal/min-laege/" target=”_blank”><button id="your_doctor_button" >Kontakt din personlige læge her</button></a>

                <div id="pages_buttons">
                    <button onclick="changeIframeSrc('/list')">📖</button>
                    <button onclick="changeIframeSrc('/upload')">📤</button>
                    <button onclick="changeIframeSrc('/help')">❓</button>
                </div>

                <div id="control_buttons">
                    <button onclick="changeIframeSrc('/settings')">⚙️</button>
                    <a href="/logout/"><button>🚪</button></a>
                </div>
            </div>
            

        </div>
    </body>

</html>