<!DOCTYPE html>
<html>
    <!-- Setting up basic information of site -->
    <head>
        <title>HOMEPAGGGEE</title>
    </head>

    <!--  -->
    {% extends "header.html" %}
    {% block content %}

    <body>
        <div class="main_page_left">
            <h1>HI</h1>
        </div>

        <div class="main_page_right">
            <div class="settings&logout">
                <button>Settings</button>
                <button>Logout</button>
            </div>
            
            <h1>Test</h1>

        </div>
    </body>
    {% endblock %}

</html>