<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
</head>


<body>
    <input type="file" id="imageInput" accept="image/*">
    <div class="img_container">
        <img id="previewImage" src="/static/IMG/upload.jpg" alt="Preview Image"> 
    </div>
    <h1>Vi gør opmærksom på at alle svar er vejledende, ved tvivl, kontakt din læge!</h1>
    <h2 id="h2_first">Fil navn: </h2><h2 id="message">ingen fil indsat</h2>
    <br>
    <button id="get_result">Få resultat</button>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>